.camp-list-padded{
  margin-top: 25px;
}

.camp-list-padded h1{
  margin-bottom: 20px;
}

.camp-column{
    height: calc(100vh - 70px);
    overflow: scroll;

}

.map-column{
    height: calc(100vh - 70px);
}
