<h1>My Camps</h1>

<div class="container">
  <div class="row">
      <% @camps.each do |camp| %>
      <%= link_to camp_path(camp) do %>
        <div class="card">
           <div class ="card-title"><%= camp.title %></div>
           <div class= "card-description"> <%= camp.description %></div>
           <div class="card-price"><%= camp.price %>$</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



