<h1>My Camps</h1>

<% @camps.each do |camp| %>
<ul>
  <li><%= camp.title %>
      <%= camp.description %>
      <%= camp.price %>$
      <%= link_to "See more", camp_path(camp) %>
  </li>
</ul>
<% end %>


