h1 {
font-family:'Fredoka One', cursive;
font-size: 40px;
padding: 20px, 0;
color: #4AF2A1;
text-shadow: 0 1px 3px rgba(0,0,0,0);
}

h2 {
font-family:'Fredoka One', cursive;
font-size: 35px;
color: white;
}

h3 {
font-family:'Raleway', sans-serif;
font-size: 30px;
color: #6EB6FF;
}

h4 {
font-family:'Raleway', sans-serif;
font-size: 25px;
color: #484848;
}

h5 {
font-family:'Raleway', sans-serif;
font-size: 20px;
color: #484848;
}

h6 {
font-family:'Raleway', sans-serif;
font-size: 20px;
color: #484848;
}

p {
font-family:'Raleway', sans-serif;
font-size: 15px;
color: #484848;
}

i{
  color: #7098DA;
}

a:hover {
text-decoration: none;
}

.btn-primary {
  margin : 15px 0;
}

// --- camp single view elements ---


