h1 {
font-family:'Fredoka One', cursive;
font-size: 40px;
padding: 20px, 0;
color: #4AF2A1;
text-shadow: 0 1px 3px rgba(0,0,0,0);
}

h2 {
font-family:'Fredoka One', cursive;
font-size: 35px;
color: white;
}

h3 {
font-family:'Raleway', sans-serif;
font-size: 30px;
color: #6EB6FF;
}

h4 {
font-family:'Raleway', sans-serif;
font-size: 25px;
color: #484848;
}

h5 {
font-family:'Raleway', sans-serif;
font-size: 20px;
color: #484848;
}

h6 {
font-family:'Raleway', sans-serif;
font-size: 20px;
color: #484848;
}

p {
font-family:'Raleway', sans-serif;
font-size: 15px;
color: #484848;
}

i{
  color: #7098DA;
}

a:hover {
text-decoration: none;
}

.btn-primary {
  margin : 15px 0;
}

// --- camp single view elements ---
.description-look{
font-size: 20px;
font-weight: lighter;
margin: 20px 0;
color: #4D5052;

}
.price-look{
    background-color: #F78AE0;
    padding: 4px;
    border-radius: 4px;
    width: auto;
    text-align: center;
    margin: 15px 0;
}


.book-form, .book-recap{
  background-color: #F5F8FA;
  border-radius:4px;
  margin : 20px 0;
  padding: 10px;
}

.form-look{
    text-align:center;
    float: none;
    margin: 0 auto;
    background-color: #F5F8FA;
    border-radius: 4px;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 2px 2px 2px #F1F1F1;

}

.form-look h2{
  margin: 25px 0;
  color: #4AF2A1;
}


