footer {
  position: relative;
  bottom: -100px;

  .footer-content {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 1px;
  }

  ul {
    font-size: 20px;
  }
}



