.banner {
  color: white;
  text-align: center;
  height: 125vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-color: #6EB6FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner-user {
  position: relative;
  height: 120px;
  margin-bottom: 20px;
  // box-shadow: 3px 9px 22px -8px #000000;
}

.banner-user h1 {
  color: #4AF2A1;
}

.banner-user h3 {
  color: white;
}

.user-infos {
  position: absolute;
  top: 25px;
  left: 90px;
}

.edit-pencil-profile i {

  color: #7098DA;
  font-size: 20px;
  transition: background 0.5s ease;

}

.edit-pencil-profile i:hover {
 color: #6638F0;
}

.banner-detail {
  position: relative;
  color: white;
  text-align: center;
  height: 65vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-color: #6EB6FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
