.banner {
  color: white;
  text-align: center;
  height: 125vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-color: #6EB6FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner-user {
  position: relative;
  color: white;
  height: 250px;
  background-color: #6EB6FF;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  // box-shadow: 3px 9px 22px -8px #000000;
}

.profil-edit {
  position: absolute;
  bottom: 1px;
  right: 10px;
}

.user-infos {
  position: absolute;
  top: 90px;
  left: 200px;
}


.banner-user h1 {
  color: white;
}

.banner-user h3 {
  color: white;
}

.profil-edit a {
  color: white;
  font-size: 23px;
  font-weight: lighter;
  transition: background 0.5s ease;
}

.profil-edit a:hover {
 color: #E6FCFF;
}

.banner-user h1 {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.banner-detail {
  color: white;
  text-align: center;
  height: 65vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-color: #6EB6FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
