.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-color: #90F2FF;
  color: white;
  position: relative;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  text-decoration : none;
  box-shadow: 6px 6px 6px #F1F1F1;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-title {
  font-size: 30px;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }

.card-price{
  position: absolute;
  top: 10px;
  right:10px;
  background-color: #F78AE0;
  padding: 4px;
  border-radius: 4px;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

